version: '3.8'

services:
  sessionmanager.api:
    image: sessionmanager-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Redis=redis:6379
      - ConnectionStrings__Postgres=Host=postgres;Port=5432;Database=SessionDb;Username=postgres;Password=${DB_PASSWORD}
      - JwtSettings__Secret=${JWT_SECRET}
      - AesSettings__Key=${AES_KEY}
    depends_on:
      - redis
      - postgres

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    restart: always

  postgres:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=secure_password
      - POSTGRES_DB=SessionDb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: